openwisp-controller~=1.0.1
channels-redis~=3.4.0
service_identity
django-redis>=4.9.0
django-pipeline~=2.0.0
django-compress-staticfiles~=1.0.1b
django~=3.2

uwsgi
# Newer versions have removed soft_unicode
markupsafe==2.0.1
